body{
margin: 0 auto;
}
.container{
    width: 400px;
    margin-top: 5%;
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
}